html
  head
    title utlities
  body
    h1 utilties
    ul
      li
        a(href='/ipsum') ipsum generator
      li
        a(href='/endpoint') endpoint handler
      li
        a(href='/send') make request
        ul
          li
            a(href='/send/form') send form data
          li
            a(href='/send/json') send json data
